<h1>{{title}}</h1>

<form method="POST" action="/new">
  <label for="user">Who are you?</label><br>
  <input type="text" name="user"><br><br>
  <label for="text">What do you want to say?</label><br>
  <input type="text" name="text"><br><br>
  <input type="submit" value="Submit">
</form>